<% provide :title, t("static_pages.nav.help") %>
<h1><%= t("static_pages.nav.help") %></h1>
<p>
  <%= t("static_pages.help.get_help_on") %>
  <%= link_to t("static_pages.help.help_page"), "http://www.railstutorial.org/help" %>
  <%= t("static_pages.help.to_get_sample_app") %>
  <a href="http://www.railstutorial.org/book">
    <em> <%= t("static_pages.help.tutorial_book") %></em>.
  </a>
</p>
