<% provide :title, t("layouts.header.nav.help") %>
<h1><%= t("layouts.header.nav.help") %></h1>
<p>
  <%= t(".get_help_on") %>
  <%= link_to t(".help_page"), Settings.link.rails_help %>.
  <%= t(".to_get_sample_app") %>
  <%= link_to Settings.link.rails_book do %>
    <em> <%= t(".tutorial_book") %></em>.
  <% end %>
</p>
