<h1><%= t ".reset_subject" %></h1>
<p><%= t ".to_reset_password" %></p>
<%= link_to t(".reset_subject"), edit_password_reset_url(id: @user.reset_token, email: @user.email) %>
<p><%= t ".info_1" %></p>
<p><%= t ".info_2" %></p>
